version: '3.8'

services:
  postgresdb:
    image: postgres:latest
    container_name: db-firstcallqa
    network_mode: host
    environment:
      POSTGRES_DB: firstcallqa
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d firstcallqa"]
      interval: 5s
      timeout: 5s
      retries: 5

  service:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: firstcallqa-api
    depends_on:
      - postgresdb
    ports:
      - "8080:8080"
    # environment:
    #   DATABASE_URL: postgres://your_user:your_password@postgres:5432/your_database
